<!-- шаблон для смены пароля -->
{% extends "base.html" %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>Установите новый пароль!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Изменить мой пароль">
        </form>

    {% else %}

        <p>Ссылка сброса пароля была недействительной, возможно, потому что она уже использовалась. Пожалуйста, запросите новый пароль
            перезагрузить.</p>

    {% endif %}
{% endblock %}