{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}


{% block content %}
    <div class="article-text">
        <h1>Приветствую!</h1>
        <p>Это главная страница сайта.</p>
    
    
        Аббревиатура <b>CNC</b> означает Computer Numerical Control, что в переводе на русский язык звучит как Числовое программное управление (ЧПУ). Это технология, использующая компьютеры для управления станками и другим производственным оборудованием. В контексте станков, CNC означает, что станок управляется компьютерной программой, а не вручную оператором.
    </div>    
{% endblock %}