#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* ваш размер */
    background-color: #ffffff;
    z-index: 1000;
    display: flex; /* чтобы центрировать содержимое по вертикали */
    align-items: center; /* вертикальное выравнивание */
}

.header-logo-container {
    display: flex;
    align-items: center; /* по вертикали внутри контейнера */
    margin-left: 50px;
}

.header-logo {
    height: 60px; /* или другой размер */
    width: auto;
}

.logo-text {
    margin-left: 15px;
    font-size: 24px;
    color: #090130;
}






.sidebar_left {
    /* height: 100vh; */
    height: calc(100% - 80px); /* высота страницы минус высота header */
    width: 250px;
    position: fixed;
    top: 80px; /* ниже header */
    left: 0;
    background-color: #EDEEF0; 
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    color: #002276;    
    z-index: 900; /* меньше чем у header, чтобы не перекрывать его */    
}




.sidebar_rigth {
    height: calc(100% - 80px); /* высота страницы минус высота header */
    width: 250px;
    position: fixed;
    top: 80px; /* ниже header */
    right: 0;
    background-color: #EDEEF0; 
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    color: #002276;    
    z-index: 900; /* меньше чем у header, чтобы не перекрывать его */    
}



/* ----------КНОПКА с подсветкой при наведении-------------------------*/
.highlight-batton {
    background-color: #e0e0e0; /* светлый фон */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Tahoma', sans-serif;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s;
}

.highlight-batton:hover {
    background-color: #cfcfcf; /* чуть более темный при наведении */
}
/* --------------------------------------------------------------------*/


/* ------------------ссылки в стилизованные кнопки--------------------*/
.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

.link-button.signup {
    background-color: #28a745; /* цвет для регистрации */
}
/* --------------------------------------------------------------------*/


/* Основной контент */
.content {
    margin-top: 80px; /* равен высоте header */
    margin-left: 250px; /* отступ слева равен ширине левого сайдбара */
    margin-right: 250px; /* отступ справа равен ширине правого сайдбара */
    padding:20px;
    padding-top: 80px;
}




#footer {
    width: 100%;
    height: 50px; 
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* чтобы был сверху */
}